@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700&display=swap");

* {
  font-family: "Hanken Grotesk";
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding-top: 20px;
  text-align: center;
  position: relative;
}

.wrapper h2 {
  font-size: 36px;
  font-weight: 700;
  font-style: bold;
}

.wrapper h5 {
  font-size: 16px;
  font-weight: 500;
  font-style: medium;
  color: #878787;
  margin-top: -20px;
}

.inputForm {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-bottom: 10px;
  align-items: flex-start;
}

.inputForm label {
  position: relative;
  display: flex;
  margin-bottom: 8px;
  text-align: justify;
}

.inputForm span {
  color: red;
}

.inputForm input {
  justify-content: space-between;
  width: 400px;
  height: 20px;
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid #878787;
}

.pwrequirement {
  font-size: 12px;
  margin-top: 5px;
  text-decoration: none;
  color: #878787;
}

.terms {
  position: relative;
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.submitRegis {
  position: relative;
  margin-top: 15px;
  align-items: center;
  width: 420px;
  height: 40px;
  justify-content: space-between;
  border-radius: 6px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-bottom: 20px;
}

#termsnconditions {
  color: #878787;
}

#registerForm h5 {
  position: relative;
  margin-top: 10px;
}

.loginPage {
  color: #ff954a;
}
